<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
<h1>เพิ่มประวัติการชก</h1>
<form action="/fights/add" method="POST">
  <label>นักมวย 1:</label><br>
  <select name="fighter1_id">
    <% fighters.forEach(f => { %>
      <option value="<%= f.id %>"><%= f.name %></option>
    <% }) %>
  </select><br>

  <label>นักมวย 2:</label><br>
  <select name="fighter2_id">
    <% fighters.forEach(f => { %>
      <option value="<%= f.id %>"><%= f.name %></option>
    <% }) %>
  </select><br>

  <label>ผู้ชนะ:</label><br>
  <select name="winner_id">
    <option value="">-- ยังไม่มีผล --</option>
    <% fighters.forEach(f => { %>
      <option value="<%= f.id %>"><%= f.name %></option>
    <% }) %>
  </select><br>

  <label>วันที่:</label><br>
  <input type="date" name="fight_date"><br>

  <label>คำอธิบาย:</label><br>
  <textarea name="description"></textarea><br>

  <button type="submit">บันทึก</button>
</form>
</body>
</html>
